- var pageTitle = 'External packages'
- var youAreUsingPug = true

doctype html
html(lang="en")
    head
        title= pageTitle
    body
        h1.title Pug - node template engine
        #container.col
            if youAreUsingPug
                p paragraph one
            else
                p Get on it!
        p.
            i
            tried
            to
            learn
            PUG